.vis-container {
    width: 100%;
}

.page {
    width: 1024px;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #DDD, transparent);
    padding-top: 5px;
}

h1{
    text-align: center;
    font-size: 80px;
}

p{
    text-align: center;
    font-size: 20px;
}

h2{
    text-align: center;
    font-size: 30px;
}